# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../orderingsystem\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Adminstrator\IdeaProjects\orderingsystem\.idea/dataSources/
/dataSources.local.xml
# Zeppelin ignored files
/ZeppelinRemoteNotebooks/
# Editor-based HTTP Client requests
/httpRequests/
